.feature {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.feature-icon {
  position: relative;
  ;
}

.inner-icon {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.feature-text h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase;
  color: rgb(253, 245, 224);
}

.feature-text p {
  line-height: 1.4;
  max-width: 70%;
  color: rgb(253, 245, 224);
}


